
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

tw-story {
  /* The following changes the text */
  color: darkgreen; /* Set text to green or other color */
  text-shadow: 1px 1px lightgreen; /* Green text shadow */
  font-size: 20px;
  font-family: "Press Start 2P","Helvetica","Arial",sans-serif;
}

tw-link {
  color: darkblue; /* Set the link color to darkblue */
  transition: color .5s ease-in-out;
}

tw-link:hover { /* Mouse over a link & it turns orange */
  color: orange;
}

img { /* Images won't get wider than tw-passage container */
  max-width: 100%;
}